footer.main-footer
  .grid
    .footer-text.text-center
      .h-100.d-flex.flex-column.justify-content-center.align-items-center
        p.mb-4
          i.far.fa-envelope
          a.text-nowrap(href="#") info@botelalbatros.cz
        p.mb-5
          i.fas.fa-phone
          a.text-nowrap(href="#") +420 224 810 547  
        .social-footer.d-flex.mb-5
          a.text-decoration-none.d-flex.justify-content-center.align-items-center(href="#")  
            i.fab.fa-facebook-f
          a.text-decoration-none.d-flex.justify-content-center.align-items-center(href="#")
            i.fab.fa-instagram  
        p 
          b Botel Albatros
        p náb. L. Svobody
          br
          | Praha 1, 110 00    
        p.mt-5.mb-0 Copyright © 2019 Botel Albatros. Provozovatel: Bakal spol. s r.o., IČ: 25677136. Vytvořilo FL Advertis.  
    .map
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5283158.680158322!2d10.988618292113015!3d49.71706447082004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b948fd7dd8243%3A0xf8661c75d3db586f!2sCzechia!5e0!3m2!1sen!2sbd!4v1571646699757!5m2!1sen!2sbd' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')
