header
  .container
    .header-top
      .row
        .col-md-6.col-sm-8.col-12.py-sm-4.pb-0.pt-4.text-sm-left.text-center
          p.m-0 Najdete nás na telefonním čísle: 224 810 547
        .col-md-6.col-sm-4.col-12.py-4.text-sm-right.text-center
          p.m-0
            img.mr-2(src="dist/images/flag.png" alt="")  
            span.align-middle CZ  
header.main-header
  .container.p-0
    nav.navbar.navbar-expand-lg.position-relative
      a.navbar-brand(href='#') 
        img(src="dist/images/logo.png" alt="")
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        i.far.fa-bars
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.d-flex.w-100
          li.nav-item.active
            a.nav-link(href='#') Pokoje
          li.nav-item
            a.nav-link(href='#') služby
          li.nav-item.mr-0
            a.nav-link(href='#') Restaurace  
          li.nav-item.ml-lg-auto
            a.nav-link(href='#') Pokoje
          li.nav-item
            a.nav-link(href='#') služby  
          li.nav-item.mr-0
            a.nav-link(href='#') Restaurace      
